<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./parcial/head.ejs') %>
        <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <%- include('./parcial/header.ejs') %>
    <!-- Sedan -->
    <!-- <div class="">
        <img src="/img/matrix.png" class="img-banner">
    </div>  -->
    <div class="content-servicios">
        <div class="content-servicios__div">           
            <!-- <i class="fa fa-users ico"></i> -->
            <h2>¿QUIEN SOY?</h2>
            <p class="parrafo">Me llamo Mauro y soy un desarrollador web con experiencia. Soy autodidacta e innovador, y siempre estoy buscando nuevas formas de aprender y crecer profesionalmente.

                Me gradué de un curso de desarrollador full stack de 8 meses en Digital House, donde aprendí los fundamentos del desarrollo web, incluyendo HTML, CSS, JavaScript, React, Node.js y MongoDB.
                
                Actualmente tengo un nivel avanzado de inglés, lo que me permite comunicarme y trabajar con clientes y colegas de todo el mundo.
                
                Mis intereses personales incluyen la tecnología, el fútbol, la música, la política y la economía. <br>Estoy seguro de que puedo aportar un valor significativo a su empresa. Le agradecería la oportunidad de discutir mis habilidades y experiencia en más detalle.</p>
            <!-- <a href="/"><i class="fa fa-angle-right"></i> Conoceme</a> -->
        </div>
    
        <section class="imgsproy">
            <div class="titulo-proyectos">PROYECTOS</div>
            <div class="contenedor-proy2">
                <div class="titulos_text">"CONCECIONARIA"</div>
                <div class="textproyect2">Como parte de un curso de desarrollo full stack, realicé este proyecto en equipo. El objetivo era crear un sitio web para una concesionaria de autos. La primera imagen muestra la página principal del sitio, que se desarrolló principalmente con Express.js. La segunda imagen muestra el panel de control, que se desarrolló con React.</div>
                <div lass="textproyect2">El proyecto será un éxito y el sitio web se pondrá en funcionamiento con éxito. El sitio web será un éxito entre los clientes y ayudará a aumentar las ventas de la concesionaria.</div>
            <div class="imgproy3">
                <img src="/img/concecionaria.png"  alt="proyect">
            </div>
                <div class="imgproy4">
                  
                <img src="/img/concecionariaR.png"  alt="proyect">
            </div>
            </div>
            <div class="contenedor-proy">
                <div class="titulos_text">"MERCADO LIEBRE"</div>
            <div class="textproyect">Este es un proyecto que realicé con el objetivo de evaluar mi nivel de JavaScript. Mi idea era imitar un sitio web como Mercado Libre. Espero que les guste. <br>
                El proyecto fue un éxito y me ayudó a mejorar mi nivel de JavaScript. Estoy satisfecho con el resultado y espero que les guste.</div>
            <div class="imgproy">
                <img src="/img/mercadolie.png"  alt="proyect">
            </div>
            </div>
            <div class="contenedor-proy">
                <div class="titulos_text">"MOVIES"</div>
            <div class="textproyect">Este proyecto consiste en un panel de control de películas desarrollado con React. El panel permite a los usuarios administrar una colección de películas, incluyendo funciones como la adición, edición y eliminación de películas, así como la búsqueda y clasificación de películas.</div>
            <div class="imgproy">
                <img src="/img/react.png"  alt="proyect">
            </div>
        </div>
        
        </section>
        <div class="content-servicios__div">
            <!-- <i class="fa fa-car ico"></i> -->
            <h2>HABILIDADES</h2>
            
            <p class="parrafo">JAVASCRIPT - NODE.JS - EXPRESS - HTML - CSS - SQL - REACT - API  REST - MVC - GIT - EXCEL</p>
            <!-- <a href="/product/list"><i class="fa fa-angle-right"></i> Ver modelos</a> -->
            <div class="iconosHabilidades">
                <i class="fa-brands fa-js"></i>
                <i class="fa-brands fa-react"></i>
                <i class="fa-brands fa-css3-alt"></i>
                <i class="fa-brands fa-python"></i>
                <i class="fa-solid fa-database"></i>
                <i class="fa-brands fa-html5"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </div>
    <div class="">
        <img src="/img/matrix.png" class="img-banner">
    </div> 

    <!-- <h2 class="h2">Proyectos Destacados</h2>
    <section class="content-section">   
        <% productos.forEach(producto=> { %> 
            <a href="/product/list/<%= producto.id_product %>">
                <article class="content-section-article">
                            <div class="div__img-producto">
                                <img src="/img/products/<%= producto.image %>" alt="Imagen" class="img-producto">
                            </div>
                            <div class="content-detalle">
                                <h4 class="image-decription__name"><%= producto.name %></h4>
                                <h4 class="image-decription__colors"><%= producto.colors %></h4>
                                <h4 class="image-decription__precio"><b>$<%= producto.price  %></b></h4>
                            </div>
                        </article>
                    </a>
    <% }) %>
    </section> -->
    </main>
        <%- include('./parcial/footer.ejs') %>
</body>
</html>